<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="5.1.2" targetFramework="net47" />
  <package id="Autofac.Extras.DynamicProxy" version="4.5.0" targetFramework="net45" />
  <package id="Castle.Core" version="4.3.1" targetFramework="net45" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net47" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net47" />
</packages>